{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/account_styles.css'%}" >
</head>

<div class="auth-form">

  <h3>{% trans "Sign In" %}</h3>
    
    <hr>
    <p class="login-info"> Please provide the below information to login </p>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      <!-- <br/> -->
      {{ form.as_p }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
      
      <div class="row">
        <div class="col-3"></div>
        <div class="col">
          <a class="button secondaryAction" href="">{% trans "Forgot Password?" %}</a>
        </div>
        <div class="col">
          <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
        </div>
      </div>

    </form>
    <div class="login-or">{% trans 'or' %}</div>

{% get_providers as socialaccount_providers %}
  {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}
      Continue with below social apps,{% endblocktrans %}</p>
    <div class="socialaccount_ballot">
      <span class="socialaccount_providers" style=" list-style-type:none;">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </span>
    </div>
<br/>
<div class="row">
  <div class="col"></div>
  <div class="col"> Dont't have account, <a href="{{ signup_url }}">sign up</a></div>
  <div class="col"></div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}


</div>
{% endblock %}

